NEXT_PUBLIC_FLASK_SERVER_URL = http://localhost:5000

DATABASE_URL="mysql://root:@localhost:3306/adaptive_study_planner"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="adaptive_study_planner"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""
SECRET_KEY=""

NEXT_PUBLIC_NEXTJS_SERVER_URL=http://localhost:3000

GEMINI_API_KEY=""