NEXT_PUBLIC_FLASK_SERVER_URL = http://localhost:5000
NEXT_PUBLIC_NEXTJS_SERVER_URL=http://localhost:3000

DATABASE_URL="mysql://root:@localhost:3306/adaptive_study_planner"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="adaptive_study_planner"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

SECRET_KEY=mysecretkey123

GOOGLE_REDIRECT_URI=http://localhost:5000/auth/google/callback
GOOGLE_CLIENT_ID="Your Google Client Key"
GOOGLE_CLIENT_SECRET="Your Google Secret Key"
GEMINI_API_KEY="Your Google Gemini Key"